
{% extends "base.html" %}
{% block content %}
	<h1>
		{% if not tags %}
			{% if posts %}
				All posts
			{% else %}
				No posts matching tags
			{% endif %}
		{% else %}
			Posts with tags:
		{% endif %}
		{% if tags %}
			{% for tag in tags %}
				<button class="btn btn-main" title="{{ tag.name }} - {{ tag.description }}">{{ tag.name }}</button>
			{% endfor %}
		{% endif %}
	</h1>
	<div class="grid-view">
		{% if posts %}
			{% for post in posts %}
				{{ render_card(post) }}
			{% endfor %}
		{% else %}
			<p>No posts found.</p>
		{% endif %}
	</div>
{% endblock content %}
